%p#notice= notice
%p
  %strong Name:
  = @discount_campaign.name
%p
  %strong Description:
  = @discount_campaign.description
%p
  %strong Discount:
  = @discount_campaign.discount
%p
  %strong Product:
  = @discount_campaign.product
= link_to 'Edit', edit_discount_campaign_path(@discount_campaign)
|
= link_to 'Back', discount_campaigns_path
